<div class="container mt-4">
  <h3>My Passwords</h3>

  <div *ngIf="isLoading" class="text-muted">Loading...</div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <table *ngIf="!isLoading && passwords.length > 0" class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Site</th>
        <th scope="col">Username</th>
        <th scope="col">Created at</th>
        <th scope="col">Owner</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of passwords">
        <td>{{ p.siteName }}</td>
        <td>{{ p.username }}</td>
        <td>{{ p.createdAt | date: 'short' }}</td>
        <td>
          <button class="btn btn-sm btn-outline-primary" (click)="openDetails(p)">Details</button>
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Shared Passwords</h3>

   <table *ngIf="!isLoading && shared.length > 0" class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Site</th>
        <th scope="col">Username</th>
        <th scope="col">Created at</th>
        <th scope="col">Owner</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of shared">
        <td>{{ p.siteName }}</td>
        <td>{{ p.username }}</td>
        <td>{{ p.createdAt | date: 'short' }}</td>
        <td>
          <button class="btn btn-sm btn-outline-primary" (click)="openDetails(p)">Details</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!isLoading && passwords.length === 0" class="text-muted mt-3">
    No passwords found.
  </div>
</div>
