<div class="page">
  <div class="auth-card">
    <h2>Reset Password</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <label>New password
        <input type="password" formControlName="newPassword" />
      </label>
      <div *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.invalid">
        <small *ngIf="form.get('newPassword')?.errors?.['required']">Field required.</small>
        <small *ngIf="form.get('newPassword')?.errors?.['minlength']">Min 12 chars.</small>
      </div>

      <label>Confirm password
        <input type="password" formControlName="confirmPassword" />
      </label>
      <div *ngIf="form.value.confirmPassword && form.value.newPassword !== form.value.confirmPassword">
        <small>Passwords don't match.</small>
      </div>

      <button type="submit" [disabled]="submitting || form.invalid">Reset</button>
    </form>

    <p *ngIf="msg" class="msg">{{ msg }}</p>
  </div>
</div>
