<div class="ca-users-container">
  <!-- Header -->
  <div class="header">
    <h2>CA Users</h2>

    <button class="btn-primary" (click)="toggleCreateCaUser()">
      <i class="fa-solid fa-plus"></i>
      <span>Add CA User</span>
    </button>
  </div>

  <!-- Loading -->
  <div *ngIf="loading" class="loading">Loading CA users...</div>

  <!-- Table -->
  <div *ngIf="!loading && caUsers.length > 0" class="table-wrapper">
    <table class="ca-table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th>Organization</th>
          <th>Certificate</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of caUsers">
          <td>{{ user.email }}</td>
          <td>{{ user.firstName }} {{ user.lastName }}</td>
          <td>{{ user.organization }}</td>
          <td>
            <span *ngIf="user.hasCaCertificate" class="badge badge-success">
              <i class="fa-solid fa-check"></i> Issued
            </span>
            <span *ngIf="!user.hasCaCertificate && !user.revoked" class="badge badge-muted">
              <i class="fa-regular fa-circle-xmark"></i> None
            </span>
            <span *ngIf="user.revoked" class="badge badge-muted">
              <i class="fa-regular fa-circle-xmark"></i> Revoked
            </span>
          </td>
          <td class="text-center" style="display: flex; justify-content: center; gap: 0.6rem">
            <button
              class="btn-action"
              (click)="issueCertificate(user)"
              [disabled]="user.hasCaCertificate"
            >
              Issue Certificate
            </button>
            <button
              class="btn-action"
              *ngIf="user.hasCaCertificate"
              (click)="revokeCertificate(user)"
              [disabled] = "user.revoked"
            >
               {{ user.revoked ? 'Revoked' : 'Revoke' }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn-action" (click)="openTemplateDialog()">+ Create Template</button>


  <!-- Empty -->
  <div *ngIf="!loading && caUsers.length === 0" class="empty-state">
    No CA users found.
  </div>

  <!-- Modal -->
  <div *ngIf="showCreateCaUser" class="modal-backdrop" (click)="showCreateCaUser = false">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <app-create-ca-user
        (close)="showCreateCaUser = false"
        (userCreated)="onCaUserCreated($event)"
      ></app-create-ca-user>
    </div>
  </div>
</div>
