<nav class="navbar">
  <div class="left">
    <a 
      routerLink="home" 
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      🏠 Dashboard
    </a>

    <a 
      *ngIf="role === 'ADMIN'" 
      routerLink="admin" 
      routerLinkActive="active">
      Root Certificate
    </a>

    <a 
      *ngIf="role === 'ADMIN'" 
      routerLink="admin-csr" 
      routerLinkActive="active">
      CSR
    </a>

    <a 
      *ngIf="role === 'ADMIN'" 
      routerLink="create-ca-user" 
      routerLinkActive="active">
      Add CA Users
    </a>

    <a 
      *ngIf="role === 'USER'" 
      routerLink="csr-upload" 
      routerLinkActive="active">
      📄 CSR Upload
    </a>

    <a 
      *ngIf="role === 'USER'" 
      routerLink="my-requests" 
      routerLinkActive="active">
      My CSR Requests
    </a>

    <a 
      *ngIf="role === 'CA'" 
      routerLink="ca-csr" 
      routerLinkActive="active">
      My CSR Requests
    </a>

    <a 
      *ngIf="role !== 'USER'" 
      routerLink="ca-intermediate" 
      routerLinkActive="active">
      Issue Intermediate Certificate
    </a>
  </div>

  <div class="right">
    <button class="logout" (click)="logout()">LOGOUT</button>
  </div>
</nav>

<section class="content">
  <router-outlet></router-outlet>
</section>
